<div>
    <h2>zoek student</h2>
    <form action='/search' method='POST'>
        <div>
            <label for="naam">naam:</label><br>
            <input type="text" id="naam" name="naam" value="amine" /><br>
        </div>

        <button type="submit">verzenden</button>
    </form>
</div>
<br>
<div>
    <p>gevonden studenten</p>
    <p>
        <%= (student.naam) %>
    </p>
    <% for(var i =0; i<student.length; i++ ){%>
        <li>
            <%= (student[i].body.naam) %>
        </li>
        <li>
            <%= (student[i].body.examen) %>
        </li>
        <li>
            <%= (student[i].body.reden) %>
        </li>
        <li>
            <%= (namen[i].body.datinex) %>
        </li>
        <br>
        <%}%>
</div>